
.none {
    display: none;
}
.block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 350px;
    margin: 5rem auto;
    border: solid 5px red;
    background-color: hsl(234, 29%, 20%);  
}
.dashboard__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.9em;
    margin: 0;
}

.dashboard__paragraf {
    font-size: 12px;
}
.dashboard__container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
    background-color: white;
}

.button {
    width: 100%;
}

.attribution {
    margin: auto;
    text-align: center;
}