form {
    display: flex;
    flex-direction: column;
    padding: 1em 0;
    gap: 1em;
    width: 100%;
}
label {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 700;
}
input {
    padding: 1em;
    border-radius: 8px;
    border-width: 1px;
}

button {
    padding: 1em;
    border-radius: 8px;
    border-width: 1px;
    background-color: hsl(234, 29%, 20%);
    color: white;
}


